

.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box5{
    background-image: url(../../../public/image/login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.box5 .head{
    color: white;
    width: 80%;
}
.box5 .head h1{
    font-size: 110px;
    font-family: var(--fontBorel);
    font-weight: 400;
    line-height: 120px;
}
.box5 .head p{
    font-size: 25px;
    font-family: var(--fontQuicksand);
    line-height: 35.31px;
}
.box2{
    width: 50%;
    background:linear-gradient(to bottom , rgba(255, 255, 255, 0.5), rgba(1, 65, 64, 0));
}
.log{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 65%;
    margin: auto;
}
.log h1{
    font-size: 64px;
    font-family: var(--fontQuicksand);
    font-weight: 700;
    line-height: 80px;
}
.log .divider{
    width: 162px;
    height: 16px;
    border-radius: 50px;
    background: var(--btnBg);
    margin-top: 20px;
}
.log .log1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-top: 20px;
}
.log .log1 label{
    font-size: 20px;
    line-height: 25px;
    font-family: var(--fontQuicksand);
    font-weight: 500;
    margin-top: 20px;
}
.log .log1 input{
    margin-top: 10px;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #CACACA;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
}
.log .log1 p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 22.5px;
    font-family: var(--fontQuicksand);
    font-weight: 500;
}
.log .log1 p .btn-hover{
    font-weight: var(--fontQuicksand);
    font-weight: 700;
    size: 18px;
    line-height: 22.5px;
    color: #000000;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: true;
    transition: .3s linear;
}
.log .log1 p .btn-hover:hover{
    color: #0060dd;
}
.log button{ 
    width: 100%;
    height: 60px;
    border-radius: 30px; 
    font-family: var(--fontQuicksand);
    font-weight: 700;
    line-height: 30px; 
    cursor: pointer;
}
.log .log1 .login{
    margin-top: 30px;
    background: var(--btnBg);
    font-size: 24px;
    font-family: var(--fontQuicksand);
    font-weight: 700;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
}

.log .or{
    margin-top: 20px;
    width: 100%;
}
.log .or .orr{
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fontQuicksand);
    line-height: 30px;
    color: #000000;
}
.log .log3{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.log .log3 .google{
    font-family: var(--fontQuicksand);
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 13px;
    border: 1px solid #000000;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log .log3 .face{
    font-family: var(--fontQuicksand);
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    background-color: #1877F2;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log .log1 .login:hover{
    background: var(--btnhover);
}
.log .log3 .google:hover{
    background-color: #e4e4e4;
}
.log .log3 .face:hover{
    background-color: #0060dd;
}

@media (max-width: 1200px){
    .box5 .head h1{
        font-size: 90px;
    }
}
@media (max-width: 1000px){
    .box5 .head{
        width: 90%;
    }
    .box5 .head h1{
        font-size: 80px;
        line-height: 100px;
    }
    .box5 .head p{
        font-size: 20px;
    }
    .log{
        width: 85%;
    }
}
@media (max-width: 768px){

    .contain{
        flex-direction: column;
    }
    .box5{
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .box5 .head{
        width: 80%;
    }
    .box5 .head h1{
        font-size: 100px;
        line-height: 130px;
    }
    .box5 .head p{
        font-size: 25px;
    }
    .log{
        width: 85%;
    }
}
@media (max-width: 768px){
    
    .box5 .head{
        width: 80%;
    }
    .box5 .head h1{
        font-size: 80px;
        line-height: 100px;
    }
    .box5 .head p{
        font-size: 20px;
    }
    .log .log3 .google{
        font-size: 20px;
    }
    .log .log3 .face{
        font-size: 20px;
    }

}    
